.carouselWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* Keep it below the buttons */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    /* Smooth transition */
}

.imageContainer {
    width: 100%;
    height: 88vh;
    flex-shrink: 0;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlayButtons {
    position: absolute;
    top: 40%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    z-index: 15;
}

.overlayButton {
    color: #D3D4D9;
    border: 1px solid #D3D4D9;
    padding: 7px;
    margin-bottom: 12rem;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transform: rotate(270deg);
    width: 130px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    z-index: 15;
    /* Ensure the button stays on top */
}


.navButtons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navButton {
    color: rgb(201, 12, 12);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.icons-color {
    color: #D3D4D9
}

.navButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* .categoryOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
} */
.categoryOverlay {
    position: fixed;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.overlayButtons {
    position: absolute;
    top: 40%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    z-index: 20;
    /* Ensure it's on top */
}

/* Close Button on Category Overlay */
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}



.grid-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}



.image-col {
    position: relative;
    height: 100vh;
    width: 25%;
}

.col img {
    object-fit: cover;
    /* Ensure the image covers the full area of its container */
    width: 100%;
    /* Ensure the image fills the full width */
    height: 100%;
    /* Ensure the image fills the full height */
}

.text-overlay {
    position: absolute;
    bottom: 16.4%;
    left: 50%;
    transform: translateX(-50%);
    color: #D3D9D4;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
}

.text-overlay span {
    font-size: 50px;
    color: rgba(211, 212, 217, 0.6);
    padding-left: 30px;
    /* Adjust the space between number and text */
}

.abot-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.imageSection {
    flex: 1;
    position: relative;
    height: 100%;
    /* Adjust the height of the container */
    width: 40%;
    overflow: hidden;
    /* Ensure no overflow occurs */
}

.image {
    object-fit: cover;
}

.textSection {
    flex: 1;
    background-color: #124E66;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.aboutMe {
    max-width: 600px;
    color: #D3D9D4;

}

.aboutMe h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
}

.aboutMe h1 {
    margin: 10px 0;
    font-size: 35px;
    font-weight: bold;
}

.aboutMe p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 20px;
    color: #D3D9D4;
    font-weight: 400;
}

.readMore {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.categories,
.close {
    position: absolute;
}

.categories {
    top: 20px;
    right: 20px;
}

.close {
    bottom: 20px;
    right: 20px;
}

button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .textSection {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
}


.we-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    margin-top: 20px;
}

.feature {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 10px;
    border-right: 2px solid #d3d2d28f;
}

.feature:last-child {
    border-right: none;
}

.iconContainer {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.5rem;
    /* Adjust size */
    font-weight: 600;
    color: rgba(116, 141, 146, 0.192);
    /* Lighter color for background effect */
    z-index: 1;
    /* Background layer */
    pointer-events: none;
    /* Prevent interaction with the background text */
}

.icon {
    position: relative;
    z-index: 2;
    /* Foreground layer */
    width: 6.5rem;
    height: 6.5rem;
}

.title {
    font-size: 1.5625rem;
    font-weight: bold;
    margin: 10px 0;
    color: #2E3944;
}

.description {
    font-size: 1.15rem;
    font-weight: 400;
    color: #748D92;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.quote {
    width: 650px;
    height: 107px;
    font-size: 1.875rem;
    color: #2E3944;
    text-align: center;
    font-weight: 5600;
}

.recent-work-grid {
    display: flex;
    justify-content: center;
    /* Center the cards horizontally */
    flex-wrap: wrap;
    /* Enable wrapping for responsiveness */
    gap: 20px;
    /* Add space between cards */
    padding: 20px;
}

.card {
    flex: 1 1 calc(33.33% - 40px);
    /* Make each card occupy one-third of the row with space for gap */
    max-width: 370px;
    /* Prevent images from exceeding a maximum width */
    box-sizing: border-box;
    /* Ensure padding is included in width calculations */
}

.imageWrapper {
    position: relative;
}

.image {
    width: 100%;
    /* Ensure the image takes up the full width of the card */
    height: auto;
    /* Maintain the aspect ratio */
    object-fit: cover;
    display: block;
    max-height: 330px;
    /* Keep a consistent height */
}

.recent-work-index {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;

}

.recent-work-content {
    text-align: center;
    position: relative;

}


.caption {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2d4d5f;
    text-align: center;
    /* Align captions in the center */
}

.recent-work-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}